<div class="w-full max-w-screen-md mx-auto mt-10 p-4">

    <div class="flex justify-between mb-7 items-baseline">
        <h1 class="text-2xl font-semibold my-4">{{date | date: 'longDate'}}</h1>
        <button
        (click)="displayAddView()"
            class="bg-blue-600 text-white rounded-lg px-4 py-2 mt-4 transition-all hover:bg-blue-800">Añadir</button>
    </div>

    <task-bar [tasks]="tasks"></task-bar>

    <task-list [tasks]="tasks"></task-list>

    @if (showAddView == true) {
        <add-task (close)="displayAddView()" [selectedDate]="date!"></add-task>
    }

</div>