<div class="w-full my-4">

    <div class="bg-slate-100 grid grid-cols-4 gap-1 p-2 rounded-xl text-sm font-semibold">
        <p class="col-span-3">Tarea</p>
        <p class="col-span-1">Duración</p>
    </div>

    @for (task of tasks; track $index) {
        <div class="grid grid-cols-4 gap-2 p-2">
            <p class="col-span-3 flex items-center">
                <span 
                [style]="{'background-color': task.projectColor}" 
                class="w-2 h-2 block rounded-full mr-2">
                </span>
                {{task.title}}
            </p>
            <p class="col-span-1 text-end">{{task.duration}} min</p>
        </div>
    }

</div>